<taconite>
{% set js_dialog_var = 'iec_' ~ content.handler | replace({'-': '_'}) ~ '_dialog' %}

{% include bundle_name ~ ':' ~ controller_name ~ ':Includes/reload_container.html.twig' %}


{% include bundle_name ~ ':' ~ controller_name ~ ':Includes/open_ui_dialog.html.twig' %}

    <replaceContent select="#{{ js_dialog_var }}"><![CDATA[

{% set form_id = js_dialog_var ~ '_form' %}

{% include bundle_name ~ ':' ~ controller_name ~ ':Includes/flash.html.twig' %}
<div class="div-highlight ui-state-highlight ui-corner-all mmf-iec-div-flash">
    <span class="ui-icon ui-icon-info"></span>
    {{ 'Only edit here if you know what you are doing' | trans({}, 'iec') }}
</div>

<form id="{{ form_id }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>

    ]]>
    </replaceContent>

    <eval><![CDATA[

    $( "#{{ js_dialog_var }}" ).dialog('option',
    {
        buttons: {
          '{{ 'Volver' | trans({}, 'iec') }}': function () {
              customJqueryAjaxLoad('{{ path( 'mmf_iec_index', { 'handler': content.handler,  'content_container_id': content_container_id, }) }}', undefined, '#{{ js_dialog_var }}');
          },
          '{{ 'Save' | trans({}, 'iec') }}': function () {
              $("#{{ form_id }}").submit(function(event) {
                  // stop form from submitting normally
                  event.preventDefault();
                  // Send the data
                  customJqueryAjaxLoad('{{ path( 'mmf_iec_admin_form', { 'handler': content.handler,  'content_container_id': content_container_id }) }}', $("#{{ form_id }}").serializeArray(), '#{{ js_dialog_var }}');
              });
              $("#{{ form_id }}").submit();
          }
        }//buttons
    }).dialog('open');

    ]]>
    </eval>




</taconite>

