<taconite>
{% set js_dialog_var = 'iec_' ~ content.handler | replace({'-': '_'}) ~ '_dialog' %}

{% include bundle_name ~ ':' ~ controller_name ~ ':Includes/reload_container.html.twig' %}

{% include bundle_name ~ ':' ~ controller_name ~ ':Includes/open_ui_dialog.html.twig' %}

    <replaceContent select="#{{ js_dialog_var }}"><![CDATA[

{% include bundle_name ~ ':' ~ controller_name ~ ':Includes/flash.html.twig' %}

    <a title="{{ 'Add entry here on top' | trans({}, (bundle_name | lower)) }}" class="mmf-iec-button-add-on-top" href="javascript:void(0)" onclick="mmf_iec_ajax('{{ path( 'mmf_iec_collection_add', { 'handler': content.handler, 'content_container_id': content_container_id, 'content_order': 0 }) }}', undefined, '#{{ js_dialog_var }}')">{{ 'Add entry here on top' | trans({}, (bundle_name | lower)) }}</a>
    <a title="{{ 'Delete all entries' | trans({}, (bundle_name | lower)) }}" class="mmf-iec-button-delete-all" href="javascript:void(0)" onclick="if (confirm('{{ 'Are you sure?' | trans({}, (bundle_name | lower)) }}')) mmf_iec_ajax('{{ path( 'mmf_iec_delete', { 'handler': content.handler, 'content_container_id': content_container_id, 'content_order': 'all' }) }}', undefined, '#{{ js_dialog_var }}')">{{ 'Delete all entries' | trans({}, (bundle_name | lower)) }}</a>
    <ul id="{{ js_dialog_var }}-ul-sortable" class="mmf-iec-ul-sortable">
    {% for key, entry in content.getContent() %}
	    <li id="mmf-iec-li-sortable_{{ key }}" class="ui-state-default mmf-iec-li-sortable">
            <a title="{{ 'To move this entry just drag & drop this icon' | trans({}, (bundle_name | lower)) }}" class="mmf-iec-button-move" href="javascript:void(0)">{{ 'Move' | trans({}, (bundle_name | lower)) }}</a>
            <a title="{{ 'Delete this entry' | trans({}, (bundle_name | lower)) }}" class="mmf-iec-button-delete" href="javascript:void(0)" onclick="if (confirm('{{ 'Are you sure?' | trans({}, (bundle_name | lower)) }}')) mmf_iec_ajax('{{ path( 'mmf_iec_delete', { 'handler': content.handler, 'content_container_id': content_container_id, 'content_order': key }) }}', undefined, '#{{ js_dialog_var }}')">{{ 'Delete' | trans({}, (bundle_name | lower)) }}</a>
            <a title="{{ 'Add a new entry just below this one' | trans({}, (bundle_name | lower)) }}" class="mmf-iec-button-add" href="javascript:void(0)" onclick="mmf_iec_ajax('{{ path( 'mmf_iec_collection_add', { 'handler': content.handler, 'content_container_id': content_container_id, 'content_order': key+1 }) }}', undefined, '#{{ js_dialog_var }}')">{{ 'Add entry just below' | trans({}, (bundle_name | lower)) }}</a>
            <a title="{{ 'Edit this entry' | trans({}, (bundle_name | lower)) }}" class="mmf-iec-button-edit" href="javascript:void(0)" onclick="mmf_iec_ajax('{{ path( 'mmf_iec_editor_form', { 'handler': content.handler, 'content_container_id': content_container_id, 'content_order': key}) }}', undefined, '#{{ js_dialog_var }}')" >{{ 'Edit' | trans({}, (bundle_name | lower)) }}</a>
            &nbsp;
            {{ entry | raw }}
	    </li>
    {% endfor %}
    </ul>

    ]]>
    </replaceContent>

    <eval><![CDATA[

$( "#{{ js_dialog_var }}" ).dialog('option', {
    buttons: {
{% if is_granted(content.getParsedAdminRoles()) %}
          '{{ 'Advanced options' | trans({}, (bundle_name | lower)) }}': function () {
              mmf_iec_ajax('{{ path( 'mmf_iec_admin_form', { 'handler': content.handler,  'content_container_id': content_container_id, }) }}', undefined, '#{{ js_dialog_var }}');
          },
{% endif %}
    }
});

$( "#{{ js_dialog_var }}-ul-sortable" ).sortable({
	placeholder: "ui-state-highlight",
	forcePlaceholderSize: true,
	handle: ".mmf-iec-button-move",
	update : function (event, ui) {
        //alert($(this).sortable('serialize'));
        mmf_iec_ajax('{{ path( 'mmf_iec_collection_sort', { 'handler': content.handler, 'content_container_id': content_container_id, 'reload_container' : 'true' }) }}', $(this).sortable('serialize'), '#{{ js_dialog_var }}');
    }
});

$( ".mmf-iec-button-move").button({ text: false, icons: { primary: "ui-icon-arrow-4-diag" } });
$( ".mmf-iec-button-delete").button({ text: false, icons: { primary: "ui-icon-trash" } });
$( ".mmf-iec-button-edit").button({ text: false, icons: { primary: "ui-icon-pencil" } });
$( ".mmf-iec-button-add").button({ text: false, icons: { primary: "ui-icon-plus" } });

$( ".mmf-iec-button-add-on-top").button({ icons: { primary: "ui-icon-plus" } });
$( ".mmf-iec-button-delete-all").button({ icons: { primary: "ui-icon-trash" } });

    ]]>
    </eval>
</taconite>
