    <replaceContent select="#{{ js_dialog_var }}"><![CDATA[

{% include bundle_name ~ ':' ~ controller_name ~ ':Includes/flash.html.twig' %}

<form id="{{ form_id }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>

    ]]>
    </replaceContent>

    <eval><![CDATA[

//delete possible ckeditor instances
//if (typeof(CKEDITOR) == 'object'){
//  for ( x in CKEDITOR.instances){
//   alert(x);
//   delete CKEDITOR.instances[x];
//  }
//}

//ckeditor fields
$('#{{form_id}} textarea[data-mmf-iec-ckeditor]').each(function(){
    //alert($(this).attr('data-mmf-iec-ckeditor'))
    delete CKEDITOR.instances[$(this).attr('id')];
    })
    .ckeditor(function() {}, { customConfig : '{{ path( 'mmf_iec_ckeditor_config', {'handler': content.handler}) }}/' + $(this).attr('id') });

//file manager fields
// TODO
$('#{{form_id}} text[data-mmf-fm]').each(function(){
    alert($(this).attr('data-mmf-fm'))
    });

    ]]>
    </eval>

