{% if reload_container %}
    <!--<replaceContent select="#{{ content_container_id }}"><![CDATA[
        {% render bundle_name ~ ':' ~ controller_name ~ ':render' with {'handler': content.handler} %}
    ]]></replaceContent>-->
    <eval><![CDATA[
    $('#{{ content_container_id }}').html('{% render bundle_name ~ ':' ~ controller_name ~ ':render' with {'handler': content.handler} %}');
    $('#{{ content_container_id }}').block({
            message: '<p><img width="10px" src="{{ asset('bundles/muchomasfacilinlineeditablecontents/images/busy.gif') }}" /> {{ 'Content updated' | trans({}, 'iec') }}...</p>',
            css: { backgroundColor: '#fff', font: '10px bold Arial, Helvetica, sans-serif', width: '200px' },
            overlayCSS: {backgroundColor: '#555'},
            timeout: 1500
        });

    /*setTimeout(function (){
        if (${{ js_dialog_var }}.dialog('isOpen'))
        {
            $('#{{ content_container_id }}').block({
                    message: '<p>{{ 'Under edition' | trans({}, 'iec') }}...</p>',
                    css: { backgroundColor: '#eee', font: '10px bold Arial, Helvetica, sans-serif' }
                });
        }
     }, 2000);*/
    ]]>
    </eval>
{% endif %}
